{% extends "base.html" %}

{% load static %}

{% block title %}
registor page
{% endblock  %}

{% block content %}
<section class="login-sec">
  <div class="container mt-5 reg-form">
    <div class="row justify-content-center">
      <div class="col-md-6 p-4 shadow rounded" style="background-color: rgba(0, 0, 0, 0.6);">
        <h3 class="text-center mb-4 text-white">Register</h3>

        <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ msg }}
          {{ pswd }}
          {{ email }}
          <br/>

          <div class="mb-3">
            <label for="name" class="form-label text-white">Full Name</label>
            <input type="text" name="name" class="form-control bg-dark text-white border-secondary" id="name" required>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label text-white">Email address</label>
            <input type="email" name="email" class="form-control bg-dark text-white border-secondary" id="email" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label text-white">Password</label>
            <input type="password" name="password" class="form-control bg-dark text-white border-secondary" id="password" required>
          </div>

          <div class="mb-3">
            <label for="confirmpass" class="form-label text-white">Confirm Password</label>
            <input type="password" name="confirmpass" class="form-control bg-dark text-white border-secondary" id="confirmpass" required>
          </div>

          <div class="mb-3">
            <label for="confirmpass" class="form-label text-white">profile</label>
            <input type="file" name="profile" class="form-control bg-dark text-white border-secondary" id="Profile" required>
          </div>

          <button type="submit" class="btn btn-success w-100">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock  %}